// 文字溢出处理
overflowTest(){ overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
// 清除浮动
clearfix() {*zoom: 1;&:after{content: '';display: block;clear: both;}}
//字体图标设置
i {font-family:'iconfont';font-style:normal;}
hr {// hr分线栏样式
	height: 1px;
	background:#E6E3E3;
	border:none;
	opacity: 0.3;
	@media only screen and (-webkit-device-pixel-ratio:2 ) {.uivew{transform: scaleY(.5);}}
	@media only screen and (-webkit-device-pixel-ratio:3) {.uivew {transform: scaleY(.33333333333);}}
}