<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <form action="http://localhost:3000/upImage" method="post" , enctype="multipart/form-data" />
  <input type="file" value="指定文件" name="avatar">
  <input type="submit" , value="上传" />
  </form>
</body>

</html>