<!--
 * @Author: 
 * @Date: 2020-06-08 10:45:37
 * @LastEditTime: 2020-08-31 10:41:27
 * @LastEditors: Please set LastEditors
 * @Description: 
 * @傻瓜都能写出计算机能理解的程序。优秀的程序员写出的是人类能读懂的代码。
-->
<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <form action="http://localhost:3000/upImage" method="post" , enctype="multipart/form-data" />
    <input type="file" value="指定文件" name="avatar">
    <input type="submit" , value="上传" />
  </form>
</body>

</html>